*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* themeButton.js */
.cabecalho{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.cabecalho h1 {
  font-size: 5rem;
}

.btnHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #0d6efd;
  border: none;
  margin: 5px;
  cursor: pointer;
}

.btnHeader a {
  color: #fff;
}

.btnHeader:hover,
.btnHeader a:hover{
  transform: scale(1.1);
  transition: 0.6s;
  background-color: #c2741b;
  color: #000;
}

/* listPokemon.js */ 
section{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.listPokemon{
  width: 93%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  overflow: auto;
}

.listPokemon ul {
  gap: 30px;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.listPokemon li{
  width: 100%;
  max-width: 200px;
  height: 190px;
  border-radius: 5px;
  padding: 49px;
  text-align: center;
  box-shadow: 5px 5px 10px #000;
  background-color: #c2741b;
  cursor: pointer;
}

.listPokemon li h3{
    color: #000;
}

.listPokemon li:hover {
  transform: scale(1.1);
  transition: 0.6s;
  background-color: #0d6efd;
  color: #fff;
}

/* button.js */
.btn{
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn button {
  width: 250px;
  height: 50px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #0d6efd;
  border: none;
  margin: 25px;
  cursor: pointer;
}

.btn button:hover {
  transform: scale(1.1);
  transition: 0.6s;
  background-color: #c2741b;
  color: #000;
}

/* CardPkemon */

.CardPokemon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin-top: -150px;
}

.pokemon {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon img {
  max-width: 300px;
}

.pokemon h3{
  margin-top: 10px;
  letter-spacing: 3px;
  font-size: 25px;
}

.attribute{
  padding: 30px;
  width: 600px;
}

.attBtn {
  display: flex;
  align-items: center;
}

.attributeBtn {
  width: 130px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d6efd;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
}

.attributeBtn:hover {
  transition: 0.6s;
  background-color: #c2741b;
  color: #000;
}

.listAttribute {
  box-shadow: 3px 3px 8px;
  width: 100%;
  max-width: 500px;
  height: 300px;
  border-radius: 5px;
  overflow: auto;
}

.listAttribute li {
   font-size: 15px;
   font-weight: bold;
   padding: 5px 10px;
}


